@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #1f2123;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: deepskyblue;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
    color: whitesmoke;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    /* transition-delay: 1s; */
}


/* .active {
  background-color: #04AA6D;
} */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.menu{
  display: none;
}
.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}